{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
<section class="contact-section pt-120 pb-120">
    <div class="container">
        <div class="row gy-lg-0 gy-5">
            <!-- Form Section -->
            <div class="col-lg-7">
                <div class="blog-contact-form contact-form">
                    <h2 class="title mb-0">Sign Up</h2>
                    <p class="mb-30 mt-10">Create an account to access amazing features</p>
                    <div class="request-form">
                        <form action="{% url 'account_signup' %}" method="post" id="ajax_contact" class="form-horizontal">
                            {% csrf_token %}
                            <!-- First Name and Last Name -->
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <div class="form-item">
                                        {% render_field form.first_name class="form-control" placeholder="Your First Name" %}
                                        <div class="icon"><i class="fa-regular fa-user"></i></div>
                                    </div>
                                    {% if form.first_name.errors %}
                                        <div class="text-danger">
                                            {{ form.first_name.errors }}
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="col-md-6">
                                    <div class="form-item">
                                        {% render_field form.last_name class="form-control" placeholder="Your Last Name" %}
                                        <div class="icon"><i class="fa-regular fa-user"></i></div>
                                    </div>
                                    {% if form.last_name.errors %}
                                        <div class="text-danger">
                                            {{ form.last_name.errors }}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <!-- Email -->
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <div class="form-item">
                                        {% render_field form.email class="form-control" placeholder="Your Email" %}
                                        <div class="icon"><i class="fa-sharp fa-regular fa-envelope"></i></div>
                                    </div>
                                    {% if form.email.errors %}
                                        <div class="text-danger">
                                            {{ form.email.errors }}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <!-- Password 1 -->
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <div class="form-item">
                                        {% render_field form.password1 class="form-control" placeholder="Password" %}
                                        <div class="icon"><i class="fa-solid fa-lock"></i></div>
                                    </div>
                                    {% if form.password1.errors %}
                                        <div class="text-danger">
                                            {{ form.password1.errors }}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <!-- Password 2 -->
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <div class="form-item">
                                        {% render_field form.password2 class="form-control" placeholder="Confirm Password" %}
                                        <div class="icon"><i class="fa-solid fa-lock"></i></div>
                                    </div>
                                    {% if form.password2.errors %}
                                        <div class="text-danger">
                                            {{ form.password2.errors }}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <!-- Submit Button -->
                            <div class="submit-btn">
                                <button id="submit" class="ed-primary-btn" type="submit">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Learning Quotes and LMS-related Information Section -->
<div class="col-lg-5 col-md-12">
    <div class="contact-content">
        <div class="contact-top">
            <h3 class="title">Learn, Grow, Succeed</h3>
            <p>"Education is the most powerful weapon which you can use to change the world." – Nelson Mandela</p>
        </div>
        <div class="contact-list">
            <!-- Inspiring Quote -->
            <div class="list-item">
                <div class="icon">
                    <i class="fa-solid fa-book-open"></i>
                </div>
                <div class="content">
                    <h4 class="title">Expand Your Knowledge</h4>
                    <p>“The beautiful thing about learning is that no one can take it away from you.” – B.B. King</p>
                </div>
            </div>
            <!-- Benefits of LMS -->
            <div class="list-item">
                <div class="icon">
                    <i class="fa-solid fa-chalkboard-teacher"></i>
                </div>
                <div class="content">
                    <h4 class="title">Why Learn With Us?</h4>
                    <p>Get access to high-quality courses, expert instructors, and an interactive learning experience that prepares you for success.</p>
                </div>
            </div>
            <!-- Study Tips -->
            <div class="list-item">
                {% comment %} <div class="icon">
                    <i class="fa-solid fa-lightbulb"></i>
                </div>
                <div class="content">
                    <h4 class="title">Smart Study Tips</h4>
                    <p>Break study sessions into shorter intervals, stay consistent, and always apply what you learn to real-world problems.</p>
                </div> {% endcomment %}
            </div>
        </div>
    </div>
</div>

            
        </div>
    </div>
</section>
{% endblock content %}