<footer class="footer-section pt-120" data-background="/static/assets/img/bg-img/footer-bg.png">
    <div class="footer-top-wrap">
        <div class="container">
            <div class="footer-top text-center">
                <h2 class="title">Subscribe Our Newsletter For <br>Latest Updates</h2>
                <div class="footer-form-wrap">
                    <form action="mail.php" class="footer-form">
                        <div class="form-item">
                            <input type="text" id="email-2" name="email" class="form-control" placeholder="Enter Your E-mail">
                        </div>
                        <button class="ed-primary-btn">sign up</button>
                    </form>
                </div>
            </div>
            <div class="row footer-wrap">
                <div class="col-lg-3 col-md-6">
                    <div class="footer-widget">
                        <h3 class="widget-header">Get in touch!</h3>
                        <p class="mb-30">Fusce varius, dolor tempor interdum tristiquei bibendum.</p>
                        <div class="footer-contact">
                            <span class="number"><i class="fa-regular fa-phone"></i><a href="tel:702123-1478">(702) 123-1478</a></span>
                            <a href="mailto:info@company.com" class="mail">info@company.com</a>
                        </div>
                        <ul class="footer-social">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fab fa-behance"></i></a></li>
                            <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-widget widget-2">
                        <h3 class="widget-header">Company Info</h3>
                        <ul class="footer-list">
                            <li><a href="about.html">About Us</a></li>
                            <li><a href="service.html">Resource Center</a></li>
                            <li><a href="team.html">Careers</a></li>
                            <li><a href="contact.html">Instructor</a></li>
                            <li><a href="contact.html">Become A Teacher</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-widget widget-2">
                        <h3 class="widget-header">Useful Links</h3>
                        <ul class="footer-list">
                            <li><a href="contact.html">All Courses</a></li>
                            <li><a href="contact.html">Digital Marketing</a></li>
                            <li><a href="contact.html">Design & Branding</a></li>
                            <li><a href="contact.html">Storytelling & Voice Over</a></li>
                            <li><a href="contact.html">News & Blogs</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-widget">
                        <h3 class="widget-header">Recent Post</h3>
                        <div class="sidebar-post mb-20">
                            <img src="/static/assets/img/images/footer-post-1.png" alt="post">
                            <div class="post-content">
                                <h3 class="title"><a href="#">Where Dreams Find a Home</a></h3>
                                <ul class="post-meta">
                                    <li><i class="fa-light fa-calendar"></i>20 April, 2025</li>
                                </ul>
                            </div>
                        </div>
                        <div class="sidebar-post">
                            <img src="/static/assets/img/images/footer-post-2.png" alt="post">
                            <div class="post-content">
                                <h3 class="title"><a href="#">Where Dreams Find a Home</a></h3>
                                <ul class="post-meta">
                                    <li><i class="fa-light fa-calendar"></i>20 April, 2025</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-area">
        <div class="container">
            <div class="copyright-content">
                <p>Copyright © 2025 GenX. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</footer>