<footer class="footer-section pt-120" data-background="/static/assets/img/bg-img/footer-bg.png">
    {% comment %} <div class="footer-top-wrap">
        <div class="container">
            <div class="footer-top text-center">
                <h2 class="title">Abonnez-vous à notre newsletter pour <br>les dernières mises à jour</h2>
                <div class="footer-form-wrap">
                    <form action="mail.php" class="footer-form">
                        <div class="form-item">
                            <input type="text" id="email-2" name="email" class="form-control" placeholder="Entrez votre e-mail">
                        </div>
                        <button class="ed-primary-btn">S'inscrire</button>
                    </form>
                </div>
            </div>
            <div class="row footer-wrap">
                <div class="col-lg-3 col-md-6">
                    <div class="footer-widget">
                        <h3 class="widget-header">Contactez-nous !</h3>
                        <p class="mb-30">Fusce varius, dolor tempor interdum tristiquei bibendum.</p>
                        <div class="footer-contact">
                            <span class="number"><i class="fa-regular fa-phone"></i><a href="tel:702123-1478">(702) 123-1478</a></span>
                            <a href="mailto:info@company.com" class="mail">info@company.com</a>
                        </div>
                        <ul class="footer-social">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fab fa-behance"></i></a></li>
                            <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-widget widget-2">
                        <h3 class="widget-header">Informations sur l'entreprise</h3>
                        <ul class="footer-list">
                            <li><a href="about.html">À propos de nous</a></li>
                            <li><a href="service.html">Centre de ressources</a></li>
                            <li><a href="team.html">Carrières</a></li>
                            <li><a href="contact.html">Instructeur</a></li>
                            <li><a href="contact.html">Devenez professeur</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-widget widget-2">
                        <h3 class="widget-header">Liens utiles</h3>
                        <ul class="footer-list">
                            <li><a href="contact.html">Tous les cours</a></li>
                            <li><a href="contact.html">Marketing numérique</a></li>
                            <li><a href="contact.html">Design & Branding</a></li>
                            <li><a href="contact.html">Narration & Voix off</a></li>
                            <li><a href="contact.html">Actualités et blogs</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-widget">
                        <h3 class="widget-header">Postes récents</h3>
                        <div class="sidebar-post mb-20">
                            <img src="/static/assets/img/images/footer-post-1.png" alt="post">
                            <div class="post-content">
                                <h3 class="title"><a href="#">Là où les rêves trouvent un foyer</a></h3>
                                <ul class="post-meta">
                                    <li><i class="fa-light fa-calendar"></i>20 avril, 2025</li>
                                </ul>
                            </div>
                        </div>
                        <div class="sidebar-post">
                            <img src="/static/assets/img/images/footer-post-2.png" alt="post">
                            <div class="post-content">
                                <h3 class="title"><a href="#">Là où les rêves trouvent un foyer</a></h3>
                                <ul class="post-meta">
                                    <li><i class="fa-light fa-calendar"></i>20 avril, 2025</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> {% endcomment %}
    <div class="copyright-area">
        <div class="container">
            <div class="copyright-content">
                <p>Copyright © 2025 GenX. Tous droits réservés.</p>
            </div>
        </div>
    </div>
</footer>
