<header class="header header-2 sticky-active">
    <div class="top-bar">
        <div class="container">
            <div class="top-bar-inner">
                <div class="top-bar-left">
                    <ul class="top-bar-list">
                        <li><i class="fa-regular fa-phone"></i><a href="tel:+91 8360443446">+91 8360443446</a></li>
                        <li><i class="fa-regular fa-location-dot"></i><span>258 Helano Street, New York</span></li>
                        <li><i class="fa-regular fa-clock"></i><span>Lun - Sam : 8h00 - 15h00</span></li>
                    </ul>
                </div>
                <div class="top-bar-right">
                    <div class="register-box">
                        <div class="icon"><i class="fa-regular fa-user"></i></div>
                        <a href="#">Connexion / Inscription</a>
                    </div>
                    <div class="top-social-wrap">
                        <span>Suivez-nous</span>
                        <ul class="social-list">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fab fa-behance"></i></a></li>
                            <li><a href="#"><i class="fab fa-skype"></i></a></li>
                            <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="primary-header">
        <div class="container">
            <div class="primary-header-inner">
                <div class="header-logo d-lg-block">
                    <a href="{% url 'index' %}">
                        <img src="/static/assets/img/logo/logo-1.png" alt="Logo">
                    </a>
                </div>
                <div class="header-right-wrap">
                    <div class="header-menu-wrap">
                        <div class="mobile-menu-items">
                            <ul class="sub-menu">
                                <li><a href="{% url 'index' %}">Accueil</a></li>
                                <li class="menu-item-has-children">
                                    <a href="course.html">Cours</a>
                                    <ul>
                                        <li><a href=" {% url 'course_list' %}">Cours</a></li>
                                        <li><a href="course-details.html">Feuille de route personnalisée</a></li>
                                    </ul>
                                </li>
                                <li><a href="contact.html">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="header-right">
                        {% if request.user.is_authenticated %}
                        <form method="post" action="{% url 'account_logout' %}">
                            {% csrf_token %}
                            <button type="submit" class="ed-primary-btn header-btn">
                                {{ request.user.username }} <i class="fa-sharp fa-regular fa-arrow-right"></i>
                            </button>
                        </form>
                        {% else %}
                        <a href="{% url 'account_signup' %}" class="ed-primary-btn header-btn">S'inscrire</a>
                        {% endif %}
                        <div class="header-logo d-none d-lg-none">
                            <a href="{% url 'index' %}">
                                <img src="/static/assets/img/logo/logo-1.png" alt="Logo">
                            </a>
                        </div>
                        <div class="header-right-item d-lg-none d-md-block">
                            <a href="javascript:void(0)" class="mobile-side-menu-toggle"
                                ><i class="fa-sharp fa-solid fa-bars"></i
                            ></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>